.btn {
	@extend %disable-btn;
	font-size: 1.5rem;
	border-radius: 8px;
	padding: 2px 24px 3px;
	min-height: 36px;

	@include media(lg) {
		padding: 2px 12px 3px;
		min-height: 32px;
	}

	&--link-blue {
		padding: 0;
		color: #7dd7ff;
		text-decoration: underline;
		min-height: 0;
		text-align: inherit;
	}

	&--52 {
		min-height: 52px;
	}

	&--blue {
		color: $white;
		background-color: $blue400;

		&:hover {
			background-color: darken($blue400, 1%);
		}

		&:active {
			background-color: darken($blue400, 2%);
		}
	}

	&--full {
		width: 100%;
	}

	&--mobile-toggle {
		margin-left: auto;
		min-height: 0;
		padding: 0.5rem;
		display: none;

		@include media(md) {
			display: block;
		}

		span {
			display: block;
			height: 4px;
			width: 32.5px;
			background-color: $blue500;
			margin-top: 6px;
			border-radius: 4px;
			transition: all 0.25s;

			&:first-child {
				margin-top: 0;
			}
		}

		&.is-open {
			span:nth-child(1) {
				transform: rotate(-41deg);
				transform-origin: top right;
			}
			span:nth-child(2) {
				opacity: 0;
			}
			span:nth-child(3) {
				transform: rotate(41deg);
				transform-origin: bottom right;
			}
		}
	}

	&--bordered-red {
		background-color: $white;
		border: 1px solid $red;
		color: $red;
		font-weight: 500;

		&:hover {
			background-color: mix($white, rgba($red, 0.1));
		}

		&:active {
			background-color: mix($white, rgba($red, 0.2));
		}
	}

	&--fill-red {
		background-color: $red;
		color: $white;

		&:hover {
			background-color: darken($red, 2%);
		}

		&:active {
			background-color: darken($red, 4%);
		}
	}

	&--link {
		font-weight: 500;
		color: #525970;
		text-decoration: underline;
		font-size: 1.6rem;
		min-height: 0;
		text-align: inherit;

		@include media(xl) {
			font-size: 1.5rem;
		}

		&:hover {
			text-decoration: none;
		}
	}

	&--no-pad {
		padding: 0;
	}
}
