.logo {
	position: relative;
	display: block;
	display: inline-block;
	width: em(302px);
	height: em(76px);

	@include media(xl) {
		font-size: 1.5rem;
	}

	@include media(lg) {
		font-size: 1.3rem;
	}

	&__image {
		vertical-align: top;
		max-width: 100%;
	}

	&__text {
		position: absolute;
		bottom: 0;
		right: 0;
		text-transform: uppercase;
		color: #525970;
		font-size: em(14px);
		font-weight: 700;
	}
}
