.logo {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: em(302px);
	height: em(76px);

	&--footer {
		width: em(352px);
		height: em(88.65px);
	}

	@include media(xl) {
		font-size: 1.5rem;
	}

	@include media(lg) {
		font-size: 1.3rem;
	}

	@include media(md) {
		font-size: 0.9rem;
	}

	&__image {
		vertical-align: top;
		max-width: 100%;
	}

	&__text {
		position: absolute;
		bottom: 0;
		right: 0;
		text-transform: uppercase;
		color: #525970;
		font-size: em(14px);
		font-weight: 700;

		.logo--footer & {
			color: $white;
			font-size: em(12px);
			bottom: 0.8rem;
			right: 6.4rem;
		}
	}
}
