mixin doc-slider
    .doc-slider
        .doc-slider__swiper.swiper.js-doc-slider
            -
                const items = [
                    {
                        surname: 'Абрамова',
                        name: 'Ирина Леонидовна',
                        experience: 5,
                        image: '../img/doc-1.png',
                    },
                    {
                        surname: 'Резник',
                        name: 'Светлана Анатольевна',
                        experience: 10,
                        image: '../img/doc-2.png',
                    },
                    {
                        surname: 'Винник',
                        name: 'Дмитрий Владимирович',
                        experience: 10,
                        image: '../img/doc-1.png',
                    },
                    {
                        surname: 'Раневский',
                        name: 'Иван Александрович',
                        experience: 7,
                        image: '../img/doc-4.png',
                    },
                    {
                        surname: 'Абрамова',
                        name: 'Ирина Леонидовна',
                        experience: 5,
                        image: '../img/doc-1.png',
                    },
                    {
                        surname: 'Абрамова',
                        name: 'Ирина Леонидовна',
                        experience: 5,
                        image: '../img/doc-2.png',
                    },
                ]
            .js-doc-slider-prev.doc-slider__nav.doc-slider__nav--prev: i.icm.icm-arrow-left
            .js-doc-slider-next.doc-slider__nav.doc-slider__nav--next: i.icm.icm-arrow-right
            .swiper-wrapper
                each item, key in items
                    .doc-slider__slide.swiper-slide(class=`${((key + 1) % 2 === 0) ? 'doc-slider__slide--even' : ''}`): +doc-card(item)