mixin spec 
    section.spec.section.spec-slider-wrapper
        .container
            +head('Акции и спецпредложения', 'Смотреть все')
            - 
                const items = [
                    {
                        image: '../img/spec-1.jpg',
                        description: 'Мы проведем оценку защитных способностей вашего организма и им  мунного ответа к COVID-19.',
                    },
                    {
                        image: '../img/spec-2.jpg',
                        description: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam',
                    },
                    {
                        image: '../img/spec-3.jpg',
                        description: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit     ',
                    },
                    {
                        image: '../img/spec-2.jpg',
                        description: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam',
                    },
                    {
                        image: '../img/spec-3.jpg',
                        description: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit     ',
                    },
                    {
                        image: '../img/spec-2.jpg',
                        description: 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam',
                    },
                ]
            +spec-slider
                each item in items
                    .swiper-slide.spec-slider__slide: +spec-card(item)
                