include ../_config.pug
include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/main-nav/main-nav
include ../blocks/mobile-nav/mobile-nav
include ../blocks/phone-list/phone-list
include ../blocks/address/address
include ../blocks/logo/logo
include ../blocks/socials/socials
include ../blocks/footer-nav/footer-nav
include ../blocks/contacts/contacts
include ../blocks/slider-area/slider-area
include ../blocks/home-slider/home-slider
include ../blocks/first-screen/first-screen
include ../blocks/spec/spec
include ../blocks/head/head
include ../blocks/spec-card/spec-card
include ../blocks/spec-slider/spec-slider
include ../blocks/doctors/doctors
include ../blocks/doc-card/doc-card
include ../blocks/doc-slider/doc-slider
include ../blocks/service/service
include ../blocks/about/about
include ../blocks/service-card/service-card
include ../blocks/service-mini/service-mini
include ../blocks/service-slider/service-slider
include ../blocks/feature-card/feature-card
include ../blocks/reviews/reviews
include ../blocks/reviews-slider/reviews-slider
include ../blocks/reviews-card/reviews-card
include ../blocks/stars/stars
include ../blocks/sertificates/sertificates
include ../blocks/sertificates-card/sertificates-card
include ../blocks/sertificates-slider/sertificates-slider
include ../blocks/modal/modal
include ../blocks/modal-callback/modal-callback
include ../blocks/modal-enroll/modal-enroll
include ../blocks/modal-nurse/modal-nurse
include ../blocks/inner-top/inner-top
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/inner-page/inner-page
include ../blocks/inner-nav/inner-nav
include ../blocks/service-main/service-main
include ../blocks/aside-spec/aside-spec
include ../blocks/inner-form/inner-form
include ../blocks/form/form
include ../blocks/checkbox/checkbox
include ../blocks/input/input
include ../blocks/about-description/about-description
include ../blocks/about-sert/about-sert
include ../blocks/spoiler/spoiler
include ../blocks/faq/faq
include ../blocks/service-inner/service-inner
include ../blocks/analyzes-inner/analyzes-inner
include ../blocks/analyzes-list/analyzes-list
include ../blocks/analyzes-item/analyzes-item

doctype html
html(lang="ru") 
	head
		block head
			title=siteName
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		if responsive
			meta(name="viewport", content="width=device-width, initial-scale=1, max-scale=1")
		link(rel="shortcut icon" href="favicon.ico")
		link(rel='apple-touch-icon', href='apple-touch-icon.png')
		link(rel='preconnect' href='https://fonts.googleapis.com')
		link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
		link(href='https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap' rel='stylesheet')
		each val in cssList
			link(href=val, rel='stylesheet') 
	body
		<!--[if lt IE 10]>
		p.browserupgrade
			|Ваш браузер  
			strong устарел
			| . Пожалуйста 
			a(href='http://browsehappy.com/') обновите ваш браузер
			|  для корректного отображения сайтов.
		<![endif]-->
		.page#app
			header.page__header
				block header
			main.page__main
				block main
			footer.page__footer
				block footer
		//-scripts =================================================
		block x-templates
		each script in scriptList
			script(src=script)