include ../_config.pug
include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/main-nav/main-nav
include ../blocks/mobile-nav/mobile-nav
include ../blocks/phone-list/phone-list
include ../blocks/address/address
include ../blocks/logo/logo
include ../blocks/socials/socials
include ../blocks/footer-nav/footer-nav
doctype html
html(lang="ru") 
	head
		block head
			title=siteName
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		if responsive
			meta(name="viewport", content="width=device-width, initial-scale=1, max-scale=1")
		link(rel="shortcut icon" href="favicon.ico")
		link(rel='apple-touch-icon', href='apple-touch-icon.png')
		link(rel='preconnect' href='https://fonts.googleapis.com')
		link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
		link(href='https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap' rel='stylesheet')
		each val in cssList
			link(href=val, rel='stylesheet') 
	body
		<!--[if lt IE 10]>
		p.browserupgrade
			|Ваш браузер  
			strong устарел
			| . Пожалуйста 
			a(href='http://browsehappy.com/') обновите ваш браузер
			|  для корректного отображения сайтов.
		<![endif]-->
		.page#app
			header.page__header
				block header
			main.page__main
				block main
			footer.page__footer
				block footer
		//-scripts =================================================
		block x-templates
		each script in scriptList
			script(src=script)