mixin doc-card(item)
    .doc-card
        .doc-card__icon: i.icm.icm-cross
        .doc-card__hover-area
            .doc-card__surname=item.surname
            .doc-card__name=item.name
            .doc-card__spec Врач ультразвуковой диагностики
            .doc-card__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            .doc-card__button
                button.btn.btn--blue.btn--52 Записаться на прием
        .doc-card__image
            img(src=item.image, alt="")
            .doc-card__experience
                span.doc-card__experience-inner
                    span=item.experience
                    span.doc-card__experience-year лет