mixin stars(rating)
    .stars
        each star in [1,2,3,4,5]
            if (star <= rating)
                .stars__item.stars__item--active: i.icm.icm-star
            else
                .stars__item: i.icm.icm-star