.social {
	@extend %disable-list;
	display: inline-flex;

	&__item {
		margin-right: 0.8rem;

		.social--footer & {
			margin-right: 2.5rem;

			@include media(xl) {
				margin-right: 0.8rem;
			}
		}

		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		@extend %disable-link;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $blue400;
		color: $white;
		width: 3.6rem;
		height: 3.6rem;
		border-radius: 4px;
		transition: background 0.25s;

		.social--footer & {
			border-radius: 6.45px;

			@include media(xl) {
				border-radius: 4px;
			}
		}

		.icm-vk {
			font-size: 0.8em;
		}

		.social--footer & {
			width: 5.1rem;
			height: 5.1rem;
			color: #1a72b2;
			background-color: #ecf6fe;
			font-size: 2.8rem;

			@include media(xl) {
				height: 3.2rem;
				width: 3.2rem;
				font-size: 1.3rem;
			}
		}

		@include media(xl) {
			height: 3.2rem;
			width: 3.2rem;
			font-size: 1.3rem;
		}

		&:hover {
			background-color: lighten($blue400, 2%);
		}

		&:active {
			background-color: lighten($blue400, 1%);
		}
	}
}
