mixin address(address)
  .address&attributes(attributes)
    span.address__ico: span.icm.icm-mark
    if address
      span.address__text=address
    else
      span.address__text Адрес и график работы