mixin analyzes-inner
    .analyzes-inner.mb-16
        .text-area.text-area--content
            .text-area__section
                .text-area__header Тип анализов
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                -
                    const analyzes = [1, 2, 3, 4]
                +analyzes-list(analyzes)
            .text-area__section
                .text-area__header Тип анализов
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                -
                    const analyzes1 = [5, 6, 7, 8]
                +analyzes-list(analyzes1)
            .text-area__section
                p В медицинском центре «Академия здоровья» вам окажут помощь специалисты высшей квалификационной категории. У нас применяются все информативные диагностические методы для исследования различных патологий в области сердечно-сосудистой системы.
                p Медицинский центр «Академия здоровья» применяет только самые современные способы диагностики и лечения. Медицинский персонал регулярно посещает курсы повышения квалификации, обменивается опытом с коллегами из зарубежных стран, знакомится с новейшими технологиями, чтобы предоставить своим пациентам наиболее эффективное лечение болезней сердечно-сосудистой системы.
                p Следует понимать, что любое заболевание значительно проще предупредить, чем вылечить. Терапия и ограничительные меры при заболевании на начальном этапе значительно проще и меньше, чем на финальном этапе. Кроме того, человеку определенного возраста следует регулярно посещать кардиолога с целью профилактического осмотра.
                P: b Консультация кардиолога необходима:
                ul 
                    li лицам мужского пола старше 40 лет;
                    li лицам женского пола старше 50 лет;
                    li женщинам с патологией сердца и сосудов, которые планируют беременность или уже находятся в интересном положении;
                    li людям, у которых есть ближайшие родственники с сердечно-сосудистыми заболеваниями;
                    li детям и подросткам с врожденной сердечно-сосудистой патологией.
            .text-area__section
                .text-area__header
                    span.text-area__header-title Лицензии и сертификаты
                    a(href="#").head__all.text-area__header-more
                        span.head__all-icon: i.icm.icm-pulse
                        span.head__all-title Смотреть все
                -
                    const sertificates = [1,2,3,4,5,6,7,8,9,10]
                +sertificates-slider(4)
                    each item in sertificates
                        .swiper-slide.sertificates-slider__slide: +sertificates-card(item)
            .text-area__section
                .text-area__header
                    span.text-area__header-title Отзывы
                    a(href="#").head__all.text-area__header-more
                        span.head__all-icon: i.icm.icm-pulse
                        span.head__all-title Смотреть все
                -
                    const reviews = [
                        {
                            title: 'Наилучшие пожелания всему коллективу',
                            description: '<p>Is Хочу выразить благодарность врачу Стругову А.И. за внимательное, профессиональное отношение к пациенту.</p><p>Проходила обследование по акции в вашем центре, УЗИ щитовидной железы и УЗИ молочных желез.</p>',
                            rating: 1,
                        },
                        {
                            title: 'Приду еще раз сдавать анализы',
                            description: '<p>Сдавала анализы в CMD, мне очень все понравилось. Девочки такие приветливые. Встретили и анализ взяли безболезненно. Холл просторный и красивый.</p><p>Очень мне все понравилось. Приду еще раз сдавать анализы. Здоровья всем вам!</p>',
                            rating: 2,
                        },
                        {
                            title: 'Спасибо всем сотрудникам центра',
                            description: '<p>Выражаю благодарность за профессиональный уровень, доброе отношение, грамотный подход к своим обязанностям, внимательное изучение мои проблем и помощь в лечении. </p><p>Спасибо всем сотрудникам центра.</p>',
                            rating: 3,
                        },
                        {
                            title: 'Спасибо всем сотрудникам центра',
                            description: '<p>Сдавала анализы в CMD, мне очень все понравилось. Девочки такие приветливые. Встретили и анализ взяли безболезненно. Холл просторный и красивый.</p><p>Очень мне все понравилось. Приду еще раз сдавать анализы. Здоровья всем вам!</p>',
                            rating: 4,
                        },
                        {
                            title: 'Спасибо всем сотрудникам центра',
                            description: '<p>Сдавала анализы в CMD, мне очень все понравилось. Девочки такие приветливые. Встретили и анализ взяли безболезненно. Холл просторный и красивый.</p><p>Очень мне все понравилось. Приду еще раз сдавать анализы. Здоровья всем вам!</p>',
                            rating: 5,
                        },
                        {
                            title: 'Спасибо всем сотрудникам центра',
                            description: '<p>Сдавала анализы в CMD, мне очень все понравилось. Девочки такие приветливые. Встретили и анализ взяли безболезненно. Холл просторный и красивый.</p><p>Очень мне все понравилось. Приду еще раз сдавать анализы. Здоровья всем вам!</p>',
                            rating: 1,
                        },
                    ]
                +reviews-slider(3)
                    each item in reviews
                        .swiper-slide.reviews-slider__slide: +reviews-card(item).reviews-card--md