mixin slider 
    .swiper.js-home-slider.home-slider(data-autoplay="5000")
        .swiper-wrapper.home-slider__wrapper
            .swiper-slide.home-slider__slide: a(href="#"): img(src="../img/slider.jpg", alt="")
            .swiper-slide.home-slider__slide: a(href="#"): img(src="../img/slider.jpg", alt="")
            .swiper-slide.home-slider__slide: a(href="#"): img(src="../img/slider.jpg", alt="")
            .swiper-slide.home-slider__slide: a(href="#"): img(src="../img/slider.jpg", alt="")
            .swiper-slide.home-slider__slide: a(href="#"): img(src="../img/slider.jpg", alt="")
            .swiper-slide.home-slider__slide: a(href="#"): img(src="../img/slider.jpg", alt="")
            .swiper-slide.home-slider__slide: a(href="#"): img(src="../img/slider.jpg", alt="")
    .js-home-slider-prev.home-slider__nav.home-slider__nav--prev: i.icm.icm-arrow-left
    .js-home-slider-next.home-slider__nav.home-slider__nav--next: i.icm.icm-arrow-right