mixin reviews 
    section.reviews.section.reviews-slider-wrapper
        .container
            +head('Наши отзывы', 'Смотреть все')
            .text-area.text-area--button.reviews__text-area
                span.text-area__text Нам очень важно знать ваше мнение о нашей работе. Будем вам благодарны за любую информацию, которая позволит нам улучшить свою работу.
                span.text-area__button: a(href="#").btn.btn--fill-red.btn--52 Оставить отзыв
            - 
                const items = [
                    {
                        title: 'Наилучшие пожелания всему коллективу',
                        description: '<p>Is Хочу выразить благодарность врачу Стругову А.И. за внимательное, профессиональное отношение к пациенту.</p><p>Проходила обследование по акции в вашем центре, УЗИ щитовидной железы и УЗИ молочных желез.</p>',
                        rating: 1,
                    },
                    {
                        title: 'Приду еще раз сдавать анализы',
                        description: '<p>Сдавала анализы в CMD, мне очень все понравилось. Девочки такие приветливые. Встретили и анализ взяли безболезненно. Холл просторный и красивый.</p><p>Очень мне все понравилось. Приду еще раз сдавать анализы. Здоровья всем вам!</p>',
                        rating: 2,
                    },
                    {
                        title: 'Спасибо всем сотрудникам центра',
                        description: '<p>Выражаю благодарность за профессиональный уровень, доброе отношение, грамотный подход к своим обязанностям, внимательное изучение мои проблем и помощь в лечении. </p><p>Спасибо всем сотрудникам центра.</p>',
                        rating: 3,
                    },
                    {
                        title: 'Спасибо всем сотрудникам центра',
                        description: '<p>Сдавала анализы в CMD, мне очень все понравилось. Девочки такие приветливые. Встретили и анализ взяли безболезненно. Холл просторный и красивый.</p><p>Очень мне все понравилось. Приду еще раз сдавать анализы. Здоровья всем вам!</p>',
                        rating: 4,
                    },
                    {
                        title: 'Спасибо всем сотрудникам центра',
                        description: '<p>Сдавала анализы в CMD, мне очень все понравилось. Девочки такие приветливые. Встретили и анализ взяли безболезненно. Холл просторный и красивый.</p><p>Очень мне все понравилось. Приду еще раз сдавать анализы. Здоровья всем вам!</p>',
                        rating: 5,
                    },
                    {
                        title: 'Спасибо всем сотрудникам центра',
                        description: '<p>Сдавала анализы в CMD, мне очень все понравилось. Девочки такие приветливые. Встретили и анализ взяли безболезненно. Холл просторный и красивый.</p><p>Очень мне все понравилось. Приду еще раз сдавать анализы. Здоровья всем вам!</p>',
                        rating: 1,
                    },
                ]
            +reviews-slider
                each item in items
                    .swiper-slide.reviews-slider__slide: +reviews-card(item)
                