mixin reviews-slider
    .reviews-slider&attributes(attributes)
        .reviews-slider__swiper.swiper.js-reviews-slider
            .swiper-wrapper
                block
        .js-reviews-slider-prev.reviews-slider__nav.reviews-slider__nav--prev: i.icm.icm-arrow-left
        .js-reviews-slider-next.reviews-slider__nav.reviews-slider__nav--next: i.icm.icm-arrow-right