extends templates/_default

block head 
	title Home

block header 
	+header

block main
	+inner-top('Политика конфиденциальности', ['Главная', 'О центре', 'Политика конфиденциальности'])
	+inner-page
		block innerAside 
			+inner-nav('О центре', ['Описание', 'Лицензии и сертификаты', 'Вопросы и ответы', 'Политика конфиденциальности'], 'Политика конфиденциальности')
			+aside-spec
		block innerMain
			.text-area.text-area--content
				p Вы, как субъект данных даёте согласие Обществу с ограниченной ответственностью «СИТИМЕД» (далее – «Компания»), место нахождения: 241020, г. Брянск, пр-т Московский, д. 140, и в случае предоставления данных о третьих лицах гарантируете, что данное согласие получено от лиц (субъектов данных), чьи данные предоставляются Компании, на обработку предоставленных данных, т.е. осуществление любых действий (операций) или совокупности действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств, с предоставленными данными, в том числе персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение,  использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение, в целях:
				p: b Консультация кардиолога необходима:
				ul 
					li передачи полученных от вас данных третьим лицам для обработки вашей заявки, а именно партнёрам и/или внешним специалистам, сотрудничающим с Компанией, и/или лицам, предоставившим заявку от вас и/или передавшим вашу заявку Компании, и/или лицам, осуществляющим поддержку служб и услуг Компании, в необходимом для осуществления такой поддержки объёме, и/или компаниям, входящим с Компанией в группу компаний;
					li ознакомления с информационными материалами от имени Компании, в том числе с рекламными материалами Компании и/или третьих лиц;
					li защиты прав и законных интересов Компании;
					li проведения статистических и прочих исследований на основе обезличенных данных.
					li детям и подросткам с врожденной сердечно-сосудистой патологией.
				p Основанием для обработки данных являются: ст. 24 Конституции Российской Федерации, ст. 6 Федерального закона №152-ФЗ «О персональных данных» и Соглашение.
				p Согласие на обработку предоставленных данных даётся на неопределённый срок и может быть в любой момент отозвано субъектом данных и/или его уполномоченным представителем путём письменного обращения в адрес Компании.
				p Компания обязуется в разумные сроки немедленно прекратить обработку предоставленных данных после получения соответствующего письменного требования субъекта данных и/или его уполномоченного представителя, за исключением случаев, когда Компания и/или лица, осуществляющие поддержку служб и услуг Компании, в необходимом для осуществления такой поддержки объёме, и/или компании, входящие с Компанией в группу компаний, вправе и/или обязаны продолжить обработку предоставленных данных, в том числе персональных данных, без согласия субъекта данных (субъекта персональных данных), при наличии оснований, установленных действующим законодательством Российской Федерации.
block footer
	+contacts
	+footer