extends templates/_default

block head 
	title Home

block header 
	+header

block main
	+inner-top('О центре', ['Главная', 'О центре', 'Описание'])
	+inner-page
		block innerAside 
			+inner-nav('О центре', ['Описание', 'Лицензии и сертификаты', 'Вопросы и ответы', 'Политика конфиденциальности'], 'Описание')
			+aside-spec
		block innerMain
			+about-description
block footer
	+contacts
	+footer