extends templates/_default

block head 
	title Home

block header 
	+header

block main
	+first-screen
	+spec
	+doctors
	+service
	+about
	+reviews
	+sertificates
	.test(style="display: none; padding: 50px; background: black;")
		+modal-callback
		br
		+modal-nurse
		br
		+modal-enroll
	
block footer
	+contacts
	+footer