extends templates/_default

block head 
	title Home

block header 
	+header

block main
	+inner-top('Отзывы', ['Главная', 'Отзывы'])
	+inner-page(true)
		block innerMain
			-
				const items = [
					{
						title: 'Наилучшие пожелания всему коллективу',
						description: '<p>Is Хочу выразить благодарность врачу Стругову А.И. за внимательное, профессиональное отношение к пациенту.</p><p>Проходила обследование по акции в вашем центре, УЗИ щитовидной железы и УЗИ молочных желез.</p>',
						rating: 1,
					},
					{
						title: 'Приду еще раз сдавать анализы',
						description: '<p>Сдавала анализы в CMD, мне очень все понравилось. Девочки такие приветливые. Встретили и анализ взяли безболезненно. Холл просторный и красивый.</p><p>Очень мне все понравилось. Приду еще раз сдавать анализы. Здоровья всем вам!</p>',
						rating: 2,
					},
					{
						title: 'Спасибо всем сотрудникам центра',
						description: '<p>Выражаю благодарность за профессиональный уровень, доброе отношение, грамотный подход к своим обязанностям, внимательное изучение мои проблем и помощь в лечении. </p><p>Спасибо всем сотрудникам центра.</p>',
						rating: 3,
					},
					{
						title: 'Спасибо всем сотрудникам центра',
						description: '<p>Сдавала анализы в CMD, мне очень все понравилось. Девочки такие приветливые. Встретили и анализ взяли безболезненно. Холл просторный и красивый.</p><p>Очень мне все понравилось. Приду еще раз сдавать анализы. Здоровья всем вам!</p>',
						rating: 4,
					},
					{
						title: 'Спасибо всем сотрудникам центра',
						description: '<p>Сдавала анализы в CMD, мне очень все понравилось. Девочки такие приветливые. Встретили и анализ взяли безболезненно. Холл просторный и красивый.</p><p>Очень мне все понравилось. Приду еще раз сдавать анализы. Здоровья всем вам!</p>',
						rating: 5,
					},
					{
						title: 'Спасибо всем сотрудникам центра',
						description: '<p>Сдавала анализы в CMD, мне очень все понравилось. Девочки такие приветливые. Встретили и анализ взяли безболезненно. Холл просторный и красивый.</p><p>Очень мне все понравилось. Приду еще раз сдавать анализы. Здоровья всем вам!</p>',
						rating: 1,
					},
				]
			.text-area.text-area--button.about-faq__text-area.mb-16
				span.text-area__text Нам очень важно знать ваше мнение о нашей работе. Будем вам благодарны за любую информацию, которая позволит нам улучшить свою работу.
				span.text-area__button: a(href="#").btn.btn--blue.btn--52 Оставить отзыв
			.reviews-main
				.reviews-main__row
					each item in items
						.reviews-main__column
							+reviews-card(item)

block footer
	+contacts
	+footer