.main-nav {
	background-color: $blue500;

	@include media(md) {
		display: none;
	}

	&__list {
		@extend %disable-list;
		display: flex;
		justify-content: space-around;
	}

	&__link {
		@extend %disable-link;
		color: $white;
		font-weight: 500;
		padding: 1rem 2rem;
		display: flex;
		align-items: center;
		min-height: 64px;
		white-space: nowrap;
		cursor: pointer;

		@include media(xl) {
			padding: 1rem 1rem;
			min-height: 58px;
		}

		&:hover {
			background: darken($blue500, 3%);
		}

		&:active {
			background: darken($blue500, 5%);
		}

		@include media(xl) {
			font-size: 1.5rem;
		}
	}

	&__item {
		&[data-nav-more] {
			display: none;
			position: relative;
		}

		&--hidden {
			display: none;
		}
	}

	&__icon {
		vertical-align: top;
		margin-right: 0.98rem;
	}
}
