mixin about-description
    .about-description
        .bd-radius.mb-16
            img(src="img/about-description.jpg", alt="").img-responsive
        .text-area.text-area--content.mb-16
            p Медицинский центр «Академия здоровья» - многопрофильная медицинская организация частной системы здравоохранения Брянской области.
            p Основная задача центра – предоставление медицинских услуг высокого качества, что обеспечивается применением современных медицинских технологий, использованием в работе новейшего диагностического и лечебного оборудования, привлечением опытного, высококвалифицированного медицинского персонала.
            p В центре ведут прием врачи по 11 специальностям, среди них - врачи высшей и первой квалификационной категории, кандидаты медицинских наук.
        +inner-form