.contacts {
	@include media (md) {
		display: flex;
		flex-direction: column;
		background-color: $blue500;
		padding-bottom: 4rem;
	}

	.container {
		position: relative;
		
		@include media (md) {
			order: 2;
			
			margin-top: -100px;
		}
	}

	&__title {
		font-size: 3.2rem;
		text-transform: uppercase;
		font-weight: 800;
		letter-spacing: 0.02em;
		margin-bottom: 2.2rem;

		@include media(xl) {
			font-size: 2.4rem;
			margin-bottom: 1.7rem;
		}
	}

	&__address {
		margin-bottom: 1.6rem;
		padding-left: 0.5rem;
	}

	&__list {
		margin-bottom: 1.1rem;
		font-size: 1.6rem;
		font-weight: 500;
		margin-bottom: 2rem;

		@include media(xl) {
			font-size: 1.5rem;
			margin-bottom: 1.5rem;
		}
	}

	&__list-mark {
		color: $red;
	}

	&__phones {
		margin-bottom: 2.1rem;
		font-size: 1.8rem;

		@include media(xl) {
			font-size: 1.6rem;
			margin-bottom: 1.5rem;

			.phone-list__item:first-child {
				margin-right: 2rem;
			}
		}
	}

	&__map {
		height: 494px;

		@include media (md) {
			height: 350px;
		}
	}

	&__info {
		top: 4.5rem;
		position: absolute;
		display: inline-block;
		max-width: 472px;

		@include media(xl) {
			max-width: 375px;
		}

		@include media(md) {
			position: static;
			max-width: none;
			width: 100%;
			box-shadow: 0 0 30px rgba(black, .1);
		}
	}

	&__list {
		@extend %disable-list;
	}

	&__list-item {
		display: inline-block;
		margin-right: 2.6rem;
		margin-bottom: 0.5rem;
	}

	&__tabs {
		display: flex;
		width: 100%;
		margin-bottom: 0.9rem;
		background-color: white;

		@include media(md) {
			margin-bottom: 0;
			border-bottom: 1px solid #edf7ff;
		}
	}

	&__tabs-body {
		background-color: white;
		padding: 3rem;

		@include media(xl) {
			padding: 2rem;
		}
	}

	&__tabs-item {
		@extend %disable-btn;
		flex: 1 1 0;
		min-height: 53px;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 1.5rem;
		position: relative;

		@include media (md) {
			font-size: 1.3rem;
		}

		&.is-active {
			color: $text-color-red;
			background-color: #f6fbff;

			&:before,
			&:after {
				content: "";

				position: absolute;
				left: 50%;
			}

			&:after {
				background-color: $red;
				height: 4px;
				width: 90px;
				margin-left: -45px;
				bottom: 0;
				border-radius: 7px 7px 0px 0px;
			}

			&:before {
				border: 5px solid transparent;
				border-bottom-color: $red;
				bottom: 0;
				left: 50%;
				margin-left: -2px;
				bottom: 4px;
			}
		}

		&:first-child {
			border-right: 1px solid #edf7ff;
		}

		&:last-child {
			border-left: 1px solid #edf7ff;
		}
	}

	&__button {
		font-size: 14px;
		font-weight: 600;
		width: 100%;
		max-width: 221px;
	}
}
