mixin inner-form 
    .inner-form
        .inner-form__text
            .inner-form__text-inner
                .inner-form__title Запись на прием
                .inner-form__description
                    p Запишитесь на прием по телефону: 
                    p: b +7 (4832) 42-52-52 
                    p или заполнив онлайн форму
        .inner-form__form
            +form