mixin footer()
  .main-footer
    .container
      .main-footer__body
        .main-footer__left
          .main-footer__title Добро пожаловать на сайт <br> “Академии здоровья”
          .main-footer__description Медицинский центр «Академия здоровья» - многопрофильная медицинская организация частной системы здравоохранения Брянской области.
        .main-footer__right 
          .main-footer__nav
            +footerNav('О центре', ['Акции', 'Врачи', 'Цены', 'Карта сайта'])
          .main-footer__nav
            +footerNav('Услуги', ['УЗИ', 'Гинекология', 'Невролог', 'Терапевт'])
          .main-footer__nav
            +footerNav('Анализы', ['УЗИ', 'Гинекология', 'Невролог', 'Терапевт' ])
          .main-footer__contact
            .main-footer__contact-social
              +social.social--footer
            .main-footer__contact-row
              button(type="button").btn.btn--blue.btn--52 Записаться на прием
            .main-footer__contact-row
              button(type="button").btn.btn--link-blue Обратный звонок
    .container: .main-footer__sep
    .container
      .main-footer__bottom
        .main-footer__logo: +logo('light').logo--footer
        .main-footer__copyright
          p.main-footer__copyright-row Академия здоровья@ 2022. Все права защищены.
          p.main-footer__copyright-row Сделано в студии <a href="#">Академия</a>
  .modal-cart#modal-cart(style="display: none")
    .cart#app-cart
      .text-area(v-if="items.length > 0")
        .analyzes-list__item(v-for="item in items")
          .analyzes-item
            .analyzes-item__row
                .analyzes-item__column.analyzes-item__column--1
                    .analyzes-item__info
                        .analyzes-item__name Общий анализ крови с лейкоцитарной формулой (без СОЭ)
                        ul.analyzes-item__props
                            li.analyzes-item__props-item Срок выполнения 1 день
                            li.analyzes-item__props-item Можно сдать на дому
                .analyzes-item__column.analyzes-item__column--2
                    .analyzes-item__column-price
                        .analyzes-item__price 1300 <i class="icm icm-rub"></i>
                    .analyzes-item__column-cart
                        .analyzes-item__cart
                            .analyzes-item__info
                                span.btn.btn--blue-bd.btn--rect.ez-tooltip ?
                                    .ez-tooltip__content
                                        .ez-tooltip__content-inner
                                            p Lorem ipsum dolor sit amet consectetur
                            .analyzes-item__button
                                button.btn.btn--fill-red.js-analyzes-item-to-cart(@click="removeItem(item.id)") Убрать
                        .analyzes-item__code Код: 097506
        
      .text-area(v-else)
        p Корзина пуста