.service {
    @extend .spec;
    background-position: top 149px right;

    &__head {
        margin-bottom: 5px;
    }

    &__text-area {
        margin-bottom: 28px;
    }

    &__list {
        display: flex;
        margin: 0 -8px;
        margin-bottom: 24px;

        @include media (md) {
            flex-wrap: wrap;
            margin-bottom: 0;
        }
    }

    &__column {
        padding: 0 8px;
        flex: 1 1 0;
        max-width: 50%;

        @include media (md) {
            margin-bottom: 16px;
        }

        @include media (sm) {
            max-width: 100%;
        }
    }
}