mixin phoneList
  ul.phone-list&attributes(attributes)
    li.phone-list__item: a(href="#").phone-list__link +7 (4832) 42-03-03
    li.phone-list__item: a(href="#").phone-list__link +7 (4832) 42-52-52