.phone-list {
	@extend %disable-list;
	display: flex;
	font-weight: 700;
	color: $text-color-muted;

	@include media (md) {
		flex-wrap: wrap;
	}

	&--column {
		flex-direction: column;
	}

	&__item {
		white-space: nowrap;

		&:first-child {
			margin-right: 42px;
		}

		.phone-list--column &:last-child {
			margin-left: 0;
		}

		.mobile-nav & {
			@extend .mobile-nav__section-row;
		}
	}

	&__link {
		@extend %disable-link;
	}
}
