body {
	@include media(md) {
		padding-top: 6.3rem;
	}
}

.main-header {
	transition: transform 0.25s;

	@include media(md) {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		transform: translate(0, 0);
		z-index: 9;
	}

	&--hidden {
		transform: translate(0, -150%);
	}

	&__contacts {
		padding: 16px 0;
		background-color: $blue100;

		@include media(xl) {
			font-size: 1.5rem;
		}

		@include media(md) {
			display: none;
		}
	}

	&__body {
		padding: 25px 0;
		background-color: $blue300;

		@include media(md) {
			padding: 1rem 0 1rem;
			min-height: 6.3rem;
		}
	}

	&__body-row {
		align-items: center;
	}

	&__body-left {
		@include media(md) {
			display: flex;
		}
	}

	&__body-right {
		@include media(md) {
			display: none;
			padding-top: 10px;
		}
	}

	&__buttons {
		display: flex;
		margin-bottom: 7px;
	}

	&__buttons-column {
		margin-left: 1.4rem;

		&:first-child {
			margin-left: 0;
		}

		@include media(lg) {
			margin-left: 1rem;
		}
	}

	&__callback {
		display: flex;
		justify-content: flex-end;
	}
}
