.main-header {
	&__contacts {
		padding: 16px 0;
		background-color: $blue100;

		@include media(xl) {
			font-size: 1.5rem;
		}
	}

	&__body {
		padding: 25px 0;
		background-color: $blue300;
	}

	&__body-row {
		align-items: center;
	}

	&__buttons {
		display: flex;
		margin-bottom: 7px;
	}

	&__buttons-column {
		margin-left: 1.4rem;

		&:first-child {
			margin-left: 0;
		}

		@include media(lg) {
			margin-left: 1rem;
		}
	}

	&__callback {
		display: flex;
		justify-content: flex-end;
	}
}

.address {
	display: flex;
	align-items: center;

	&__ico {
		line-height: 1;
		margin-right: 18px;
		color: $red;
	}

	&__text {
		font-weight: 500;
	}
}

.phone-list {
	@extend %disable-list;
	display: flex;
	font-weight: 700;

	&__item {
		&:last-child {
			margin-left: 42px;
		}
	}

	&__link {
		@extend %disable-link;
	}
}
