mixin header(data = {})
	-
		const nav = [
			'COVID Тест',
			'О центре',
			'Услуги клиники',
			'Компьютерная томография',
			'Специалисты',
			'Цены',
			'Отзывы',
			'Контакты',
		]
	+mobileNav(nav)
	.main-header.js-header
		.main-header__contacts
			.container: .row
				.col.main-header__address
					+address
				.col-auto.main-header__phones
					+phoneList
		.main-header__body
			.container 
				.row.main-header__body-row
					.col.main-header__body-left
						+logo
						button.btn.btn--mobile-toggle.js-mobile-nav-toggle
							span
							span
							span
					.col-auto.main-header__body-right
						.row: .col-12.main-header__buttons
							.main-header__buttons-column: button(type="button").btn.btn--bordered-red Вызов медсестры
							.main-header__buttons-column: button(type="button").btn.btn--fill-red Записаться на прием
							.main-header__buttons-column.main-header__buttons-column--social
								+social
						.row: .col-12.main-header__callback
							button(type="button").btn.btn--link.btn--no-pad Обратный звонок
		+mainNav(nav)
		