mixin service-slider
    .service-slider
        .swiper.service-slider__slider.js-service-slider
            .swiper-wrapper
                -
                    const itemsMini = [
                        {icm: 'heart', title: 'Кардиолог'},
                        {icm: 'end', title: 'Эндокринолог'},
                        {icm: 'baby', title: 'Кардиолог'},
                        {icm: 'brain', title: 'Кардиолог'},
                        {icm: 'skop', title: 'Кардиолог'},
                        {icm: 'skop', title: 'Кардиолог'},
                        {icm: 'skop', title: 'Кардиолог'},
                        {icm: 'skop', title: 'Кардиолог'},
                        {icm: 'skop', title: 'Кардиолог'},
                        {icm: 'skop', title: 'Кардиолог'},
                    ]
                each item in itemsMini
                    .swiper-slide: .service-slider__slide
                        +service-mini(item)
        .js-service-slider-prev.spec-slider__nav.spec-slider__nav--prev: i.icm.icm-arrow-left
        .js-service-slider-next.spec-slider__nav.spec-slider__nav--next: i.icm.icm-arrow-right