@import "_settings/_variables";
@import "_settings/_mixins";
@import "_settings/_reset";
@import "_settings/_bootstrap-grid";
@import "_settings/_rewrite";

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: $ff-primary;
	margin: 0;
	padding: 0;
	min-width: 320px;
	color: $text-color-main;
}

/* ========================
START: COMPONENTS
========================*/
@import "../pug/blocks/header/header";
@import "../pug/blocks/footer/footer";
@import "../pug/blocks/socials/socials";
@import "../pug/blocks/btn/btn";
@import "../pug/blocks/logo/logo";
@import "../pug/blocks/main-nav/main-nav";
@import "../pug/blocks/nav-more/nav-more";
@import "../pug/blocks/mobile-nav/mobile-nav";
@import "../pug/blocks/address/address";
@import "../pug/blocks/phone-list/phone-list";
@import "../pug/blocks/footer-nav/footer-nav";
@import "../pug/blocks/contacts/contacts";
@import "../pug/blocks/first-screen/first-screen";
@import "../pug/blocks/slider/slider";
@import "../pug/blocks/home-slider/home-slider";
@import "../pug/blocks/slider-area/slider-area";
@import "../pug/blocks/card/card";
@import "../pug/blocks/spec/spec";
@import "../pug/blocks/section/section";
@import "../pug/blocks/spec-card/spec-card";
@import "../pug/blocks/spec-slider/spec-slider";
@import "../pug/blocks/doctors/doctors";
@import "../pug/blocks/text-area/text-area";
@import "../pug/blocks/doc-slider/doc-slider";
@import "../pug/blocks/doc-card/doc-card";

@import "../pug/blocks/head/head";
// ##
@import "../../node_modules/swiper/swiper.scss";
/*========================
END: COMPONENTS
========================*/
.ta-center {
	text-align: center;
}

.fz-18 {
	font-size: 1.8rem;
}

.bold {
	font-weight: 800;
}